/* Cor de background do FAB principal */
$background-fab-primary-color: #536DFE;
/* Cor da borda do FAB principal */
$border-fab-primary-color: #536DFE;
/* Cor dos ícones dos FABs */
$icon-fab-color: #FFF9C4;
/* Cor do background dos FABs secundários */
$background-fab-option-color: #FBC02D;